body {
    font-family: sans-serif;
}




body {
    background-color: rgb(89, 214, 208);

}

#card-container {
    
    /* Creates static background image */
    background-image: url(DokkanGrid.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  
    border: 20px solid black; /* adjust the border width as needed */
    border-radius: 20px; /* adjust the border radius as needed */

  }

  .card-name{
    color: #FF9922;
  }

  .card-title{
    color: white;
  }

  .card:hover { 
    transform: scale(1.1);
    transition: transform .2s; /* Animation */
  }