

/* Default grid with 4 columns */
#card-container {
    width: 70%; /* adjust as needed */
    margin: 0 auto; /* centers the element horizontally */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));  /* adjusts the columns to fit the screen size (love this) */
    grid-gap: 2px;
    
}

.card button{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
  }


#page-button-container {
    display: flex;
    justify-content: space-between;
 }


 /* Need to fix as there is space above and either side of the menubar*/
#menu-bar {
    display: flex; /* makes container a flex container */
    justify-content: center; /* centers elements horizontally */
    align-items: center; /* centers elements vertically */
    position: sticky;
    width: 100%;
    top: 0;

    z-index: 999;
    height: 100px;
   
}