



/* This is to be changed later */



/* Default grid with 4 columns */
#card-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}

.card {
    transform: scale(0.7);
}

/* Change to 3 columns on screens smaller than 600px */
@media only screen and (max-width: 900px) {
    #card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Change to 2 column on screens smaller than 400px */
@media only screen and (max-width: 600px) {
    #card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}